.container {
  max-width: 1368px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding-top: 6rem;

  &__title {
    font-size: var(--title-font-size);
    text-align: center;
    margin-bottom: 2rem;

    span {
      color: var(--main-color);
    }
  }
}



::-webkit-scrollbar {
  width: .6rem;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: .5rem;
}

.logo {
  width: 40px;  
}

.card__price {
  margin-bottom: 1rem;

  span {
    text-decoration: line-through;
    font-weight: 200;
  }

  & .price__main {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
  }  
}