.products {

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid var(--main-color);
    padding: 3rem 0 3rem 0;
    transition: .3s;

    &:hover {
      background-color: #FFF;

      & h3, .card__price {
        color: #202020;
      }
    }

    & img {
      width: 80px;
      margin-bottom: 1rem;
    }

    & h3 {
      margin-bottom: 1rem;
    }
  }
}