.review {
  &__container {

  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 3rem 1rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    & p {
      text-align: center;
    }
  }

  &__quote {
    width: 70px;
    margin-bottom: 1rem;
  }

  &__person {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}